body {
    padding: 0;
    margin: 0;
    background-color: #118c63 ;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #202020;
    color: #fff;
}

header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    list-style: none;
    gap: 5px;
}

header nav ul img{
    height: 25px;
}

main{
    display: grid;
    place-items: center;
    padding: 10%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section{
    padding: 20px;
    color: #fff;
}


#containerTimer{
    background-color: #202020;

}

#timer {
    font-size: 48px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

footer{
    bottom: 0;
    text-align: center;
    padding: 20px;
    background-color: #202020;
    color: #fff;
}

footer a{
    color: #fff;
}